html {
  background: black;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

#game {
  width: 1600px;
  height: 896px;
  background-color: black;
  position: relative;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
}

#bg_0 {
  position: absolute;
  background-image: url('../assets/tiles_background_foreground/bg_0.png');
  width: 1600px;
  height: 896px;
  background-size: contain;
  image-rendering: pixelated;
}

#bg_1 {
  position: absolute;
  background-image: url('../assets/tiles_background_foreground/bg_1.png');
  width: 100%;
  height: 100%;
  background-size: contain;
  image-rendering: pixelated;
}

#bg_2 {
  position: absolute;
  background-image: none;
  width: 100%;
  height: 100%;
  background-size: contain;
  image-rendering: pixelated;
}

#tiles {
  position: absolute;
  width: 100%;
  height: 100%;
}

#hero {
  position: absolute;
  background-size: cover;
  image-rendering: pixelated;
}
