:root {
  --screen-width: 800px;
  --screen-height: 448px;
}

html {
  background: black;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

#game {
  width: var(--screen-width);
  height: var(--screen-height);
  background-color: black;
  position: relative;
  transform: scale(1.8);
}

#miscs,
#materials,
#collectibles,
#grid,
#map,
#bg_0,
#bg_1,
#bg_2,
#fg_0,
#fg_1 {
  position: absolute;
  width: var(--screen-width);
  height: var(--screen-height);
}

#bg_0 {
  background-image: url('../assets/tiles_background_foreground/bg_0.png');
  background-size: contain;
  image-rendering: pixelated;
}

#bg_1 {
  background-image: url('../assets/tiles_background_foreground/bg_1.png');
  background-size: contain;
  image-rendering: pixelated;
}

#bg_2 {
  background-image: none;
  background-size: contain;
  image-rendering: pixelated;
}

#fg_0,
#fg_1 {
  background-image: none;
  background-size: contain;
  image-rendering: pixelated;
  z-index: 2;
}

#menu {
  display: none;
  position: absolute;
  width: var(--screen-width);
  height: var(--screen-height);
  z-index: 2;
}
